/* Styles from 404.html */
body {
    background-image: url();
    background-repeat: no-repeat;
}

/* Styles from datascienceinterviewsoverview.html */
.MathJax_Hover_Frame {
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -khtml-border-radius: .25em;
    box-shadow: 0px 0px 15px #83A;
    -webkit-box-shadow: 0px 0px 15px #83A;
    -moz-box-shadow: 0px 0px 15px #83A;
    -khtml-box-shadow: 0px 0px 15px #83A;
    border: 1px solid #A6D ! important;
    display: inline-block;
    position: absolute
}

.MathJax_Menu_Button .MathJax_Hover_Arrow {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #AAA;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -khtml-border-radius: 4px;
    font-family: 'Courier New', Courier;
    font-size: 9px;
    color: #F0F0F0
}

.MathJax_Menu_Button .MathJax_Hover_Arrow span {
    display: block;
    background-color: #AAA;
    border: 1px solid;
    border-radius: 3px;
    line-height: 0;
    padding: 4px
}
