
.arc path {
  stroke: #333;
  opacity: 0.9;
}

.party-header {
    text-align: center;
}


.row {
    margin-left: 0;
    margin-right: 0;
}


.big-party-icon {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 3px solid #333;
    margin-bottom: -320px;
}

.titles {
    color: #fefefe;
    font-size: 30px;
    font-family: 'Helvetica Neue',  'Lato', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.introtext {
    color: #fefefe;
    font-size: 25px;
    font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 0!important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.graph-img {
    width: 100%;
    padding: 30px;
}
.callout {
color: #fff;
display: table;
height: 400px;
width: 100%;
}
.callout.sentiment {
background: url(../img/elections-cover.jpg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.callout.location {
background: url(../img/location-cover.jpg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.callout.misc {
background: url(../img/misc-cover.jpg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
.callout.end {
background: url(../img/end-cover.jpg);
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
small {
    font-size: 0.7em;
}
.callout-text {
    font-size: 4em;
}

#conc {
    background: #383838;
    padding: 50px 0;
    color: #fff;
}

.icon-list-ele {
    width: 100px;
}
.icon {
    color: #fefefe;
    opacity: 0.5;
}

.icon:hover {
    color: #fefefe;
    opacity: 0.8;
}
.author {
    font-size: 25px;
    color: #ddd;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: 200;
     margin-bottom: 5px;
     margin-top: -15px;
 }
.author > a {
    color: #eee;
    text-decoration: underline;
     opacity: 0.7;
}

.author > a:hover {
    opacity: 1.0;
}

.heading-contribs {
    font-size: 5em;
}
