<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Photo Gallery"
	useFullscreenExpand="true"
	indexPageName="gallery.html"
	importTitle="NONE"
	importCaption="IPTC"

>
  <image imageURL="images/Carmel_Junior_College_-_7.jpg"
	thumbURL="thumbs/Carmel_Junior_College_-_7.jpg"
	linkURL="images/Carmel_Junior_College_-_7.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\Carmel_Junior_College_-_7.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My alma mater - Carmel Junior College]]></caption>
  </image>
  <image imageURL="images/100038.jpg"
	thumbURL="thumbs/100038.jpg"
	linkURL="images/100038.jpg"
	linkTarget="_blank"
	sourcePath="D:\Pictures\777\100038.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My first flight]]></caption>
  </image>
  <image imageURL="images/Image0097.jpg"
	thumbURL="thumbs/Image0097.jpg"
	linkURL="images/Image0097.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\Image0097.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My first car - A Ford Ikon 1.6]]></caption>
  </image>
  <image imageURL="images/12032012313.jpg"
	thumbURL="thumbs/12032012313.jpg"
	linkURL="images/12032012313.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\12032012313.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[My room back in 2012 when I was preparing for my entrances. ]]></caption>
  </image>
  <image imageURL="images/WP_20131124_003.jpg"
	thumbURL="thumbs/WP_20131124_003.jpg"
	linkURL="images/WP_20131124_003.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\WP_20131124_003.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[LAN Parties]]></caption>
  </image>
  <image imageURL="images/1796430_726459420732220_476400726_n.jpg"
	thumbURL="thumbs/1796430_726459420732220_476400726_n.jpg"
	linkURL="images/1796430_726459420732220_476400726_n.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\1796430_726459420732220_476400726_n.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A ride to Hoognekal]]></caption>
  </image>
  <image imageURL="images/IMG_20150201_132253.jpg"
	thumbURL="thumbs/IMG_20150201_132253.jpg"
	linkURL="images/IMG_20150201_132253.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\IMG_20150201_132253.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Chilling out at the farmhouse]]></caption>
  </image>
  <image imageURL="images/Image0899.jpg"
	thumbURL="thumbs/Image0899.jpg"
	linkURL="images/Image0899.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\Image0899.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The joy of a Macbook]]></caption>
  </image>
  <image imageURL="images/IMG_20150410_123932301.jpg"
	thumbURL="thumbs/IMG_20150410_123932301.jpg"
	linkURL="images/IMG_20150410_123932301.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\IMG_20150410_123932301.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A trip to Mysore with parents]]></caption>
  </image>
  <image imageURL="images/DSC01808.jpg"
	thumbURL="thumbs/DSC01808.jpg"
	linkURL="images/DSC01808.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\DSC01808.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The three musketeers]]></caption>
  </image>
  <image imageURL="images/IMG-20160330-WA0004.jpg"
	thumbURL="thumbs/IMG-20160330-WA0004.jpg"
	linkURL="images/IMG-20160330-WA0004.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\IMG-20160330-WA0004.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Hell hath no fury like the Audi Q7. One hell of a drive.]]></caption>
  </image>
  <image imageURL="images/IMG-20160506-WA0007.jpg"
	thumbURL="thumbs/IMG-20160506-WA0007.jpg"
	linkURL="images/IMG-20160506-WA0007.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\IMG-20160506-WA0007.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Euphoria - Won the 2nd Prize in Brainbox Engineering Quiz]]></caption>
  </image>
  <image imageURL="images/PHOTO_20160321_210637.jpg"
	thumbURL="thumbs/PHOTO_20160321_210637.jpg"
	linkURL="images/PHOTO_20160321_210637.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\PHOTO_20160321_210637.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[With friends at Chinnaswamy Stadium]]></caption>
  </image>
  <image imageURL="images/13131229_1049123878478759_7512380829446108564_o.jpg"
	thumbURL="thumbs/13131229_1049123878478759_7512380829446108564_o.jpg"
	linkURL="images/13131229_1049123878478759_7512380829446108564_o.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Misbah\Downloads\GIt\syedmisbahahmed.github.io\images\13131229_1049123878478759_7512380829446108564_o.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Presenting my project at SINCRONA 2016.]]></caption>
  </image>
</juiceboxgallery>